@if (isOpen) {
  <h1 mat-dialog-title data-cy="dialog-title">{{ getDialogHeader().emoji }}{{ getDialogHeader().text }}</h1>
  <mat-dialog-content data-cy="dialog-content">{{ message }}</mat-dialog-content>
  <mat-dialog-actions class="absolute" data-cy="dialog-actions">
    <button [mat-dialog-close]="buttonAction" class="bg-slate-600/25 hover:bg-emerald-400/10 h-10 w-25 rounded-md" data-cy="main-button">{{ buttonText }}</button>
    @if (extraButton) {
      <button [mat-dialog-close]="extraButtonAction" class="bg-slate-600/25 hover:bg-emerald-400/10 h-10 w-25 rounded-md ml-5" data-cy="extra-button">{{ extraButtonText }}</button>
    }
  </mat-dialog-actions>
}
