@if (state$ | async; as state) {
  @if (employee$ | async; as employee) {
    @if (state === ViewState.VIEWING) {
      <div class="flex justify-center items-center w-screen h-[90%]">
        <div class="bg-[#252525]/65 md:h-48 md:w-110 w-70 h-45 rounded-md relative">
          <div class="absolute top-5 right-5 cursor-pointer">
              <button class="cursor-pointer text-xl pt-2 pr-2" (click)="changeState()">✎</button>
          </div>
          <div class="flex items-center pt-4 pl-4">
            <img [src]="[employee.image ? employee.image : 'https://img.icons8.com/?size=100&id=tZuAOUGm9AuS&format=png&color=000000']" height="80"
                 width="80"
                 class="h-[80px] w-[80px] rounded-full">
            <h1 class="text-2xl pl-4">{{ employee.firstName }} {{ employee.lastName }}</h1>
          </div>

          <div class="ml-4">
            <h1 class="absolute bottom-5">Email: <br>{{ employee.email }}</h1>
            <button class="absolute right-5 bottom-5 cursor-pointer hover:bg-emerald-500/10 rounded-md px-4 py-2 underline-offset-3 hover:no-underline underline" (click)="router.navigate(['employee/', employee.id, 'todos'])">Todos</button>
          </div>
        </div>
      </div>
    } @else {
      <app-create (updateStateSubject)="updateStateSubject($event)" [employeeId]=employee.id></app-create>
    }
  }
}
