@if (state$ | async; as state) {
  @if (employee$ | async; as employee) {
    @if (state === ViewState.VIEWING) {
      <div class="flex justify-center items-center w-screen h-[90%]" (click)="router.navigate(['employee/todos/', employee.id])">
        <div class="bg-[#252525]/65 md:h-48 md:w-110 w-70 h-45 rounded-md relative">
          <button class="absolute top-5 right-5 cursor-pointer invisible md:visible" (click)="router.navigate(['/'])">
            <img width="48" height="48" src="https://img.icons8.com/sf-regular/48/FFFFFF/circled-left-2--v1.png" alt="circled-left-2--v1"/>
          </button>
          <div class="flex items-center pt-4 pl-4">
            <img [src]="[employee.image ? employee.image : 'https://img.icons8.com/?size=100&id=tZuAOUGm9AuS&format=png&color=000000']" height="80"
                 width="80"
                 class="h-[80px] w-[80px] rounded-full">
            <h1 class="text-2xl pl-4">{{ employee.firstName }} {{ employee.lastName }}</h1>
          </div>

          <div class="p-4 pl-4">
            <h1>Email: <p>{{ employee.email }}</p></h1>
          </div>
        </div>
      </div>
    } @else {
      <app-create (updateStateSubject)="updateStateSubject($event)" [employeeId]=employee.id></app-create>
    }
    <div class="absolute md:bottom-10 md:right-10 right-5 bottom-5">
      @if (state === ViewState.VIEWING) {
        <button class="cursor-pointer bg-emerald-600 md:h-16 md:w-16 h-12 w-12 p-[5px] rounded-full" (click)="changeState()">✎</button>
      } @else {
        <button class="cursor-pointer bg-red-600 md:h-16 md:w-16 h-12 w-12 p-[5px] rounded-full" (click)="changeState()">✖</button>
      }
    </div>
  }
}
