<div class="h-full w-full relative">
  @if (todos$ | async) {
    @if (dueTodos.length > 0) {
      <div class="flex justify-center lg:mt-[10%] md:mt-[15%] mt-[30%]">
        <h1 class="md:text-4xl text-xl">Todos:</h1>
      </div>
      <div class="flex flex-col rounded-lg bg-[#252525]/65 shadow-sm border border-[#202020] md:mt-[5%] mt-[10%]">
        @for (todo of dueTodos; track todo.id) {
          @if (!todo.completed) {
            <div class="flex min-w-[240px] flex-col gap-1 p-1.5" (click)="markTodo(todo.id, true)">
              <div
                role="button"
                class="text-slate-100 flex w-full items-center rounded-md p-2 pl-3 transition-all hover:bg-[#101010] focus:bg-[#101010] active:bg-[#101010]"
              >
                {{ todo.title }}
                <div class="ml-auto grid place-items-center justify-self-end">
                  <button (click)="deleteTodo(todo)"
                          class="rounded-md border border-transparent p-2.5 text-center text-sm transition-all text-gray-200 hover:bg-[#050505] focus:bg-[#050505] active:bg-[#050505] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                          type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                      <path fill-rule="evenodd"
                            d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                            clip-rule="evenodd"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          }
        }
      </div>
    }
    @if (completedTodos.length > 0) {
      <div class="w-full flex justify-center mt-[20%]" [ngClass]="{'md:mt-[15%] mt-[30%]': completedTodos.length > 0}">
        <h1 class="md:text-4xl text-xl">Completed Todos:</h1>
      </div>
      <div class="flex flex-col rounded-lg bg-[#252525]/65 shadow-sm border border-[#202020] md:mt-[5%] mt-[10%]">
        @for (todo of completedTodos; track todo.id) {
          <div class="flex min-w-[240px] flex-col gap-1 p-1.5" (click)="markTodo(todo.id, false)">
            <div
              role="button"
              class="text-slate-100 flex w-full items-center rounded-md p-2 pl-3 transition-all hover:bg-[#101010] focus:bg-[#101010] active:bg-[#101010]"
            >
              <s class="text-red-500">{{ todo.title }}</s>
              <div class="ml-auto grid place-items-center justify-self-end">
                <button (click)="deleteTodo(todo)"
                        class="rounded-md border border-transparent p-2.5 text-center text-sm transition-all text-gray-200 hover:bg-[#050505] focus:bg-[#050505] active:bg-[#050505] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                        type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd"
                          d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                          clip-rule="evenodd"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        }
      </div>
    }
  }
  <button
    (click)="createTodo()"
    class="cursor-pointer bg-emerald-600 md:h-16 md:w-16 h-12 w-12 rounded-full flex items-center justify-center md:bottom-10 md:right-10 bottom-5 right-5 fixed">
    <h1 class="md:text-3xl text-xl text-black">+</h1>
  </button>
</div>
