@if (state$ | async; as state) {
  @if (state === EmployeeOverviewState.SKELETON) {
    <div class="grid md:grid-cols-3 md:gap-6 3xl:grid-cols-4 gap-3 grid-cols-1 pt-26">
      @for (n of skeletonArray; track n) {
        <a [routerLink]="['/']" class="flex justify-around pt-2">
          <div class="bg-[#252525]/65 md:h-48 md:w-110 w-70 h-45 rounded-md">
            <div class="flex items-center pt-4 pl-4">
              <div
                class="animated-background-1 bg-gradient-to-br from-gray-300 via-gray-400 to-gray-500 h-20 w-20 rounded-full"></div>
              <div
                class="ml-4 h-4 md:w-45 w-38 animated-background-2 bg-gradient-to-r from-gray-300 via-gray-400 to-gray-500 rounded-2xl"></div>
            </div>
            <div class="p-4 pl-4">
              <h1>Email:
                <div
                  class="mt-4 h-2 md:w-65 w-60 animated-background-3 bg-gradient-to-r from-gray-300 via-gray-400 to-gray-500 rounded-2xl"></div>
              </h1>
            </div>
          </div>
        </a>
      }
    </div>
  }
  @if (employees$ | async; as employees) {
    <div class="h-[90%]">
      @if (state === EmployeeOverviewState.DATA) {
        <div class="grid md:grid-cols-3 3xl:grid-cols-4 md:gap-6 gap-3 grid-cols-1 pt-26">
          @for (employee of employees; track employee.id) {
            <div class="flex justify-around pt-2 hover:cursor-pointer">
              <div class="bg-[#252525]/65 md:h-48 md:w-110 w-70 h-45 rounded-md relative">
                <button class="absolute md:top-5 md:right-5 top-2.5 right-2.5 cursor-pointer" (click)="deleteEmployee(employee)">
                  ❌
                </button>
                <div [routerLink]="'/employee/' + employee.id">

                  <div class="flex items-center pt-4 pl-4">
                    <img [src]="[employee.image ? employee.image : 'https://img.icons8.com/?size=100&id=tZuAOUGm9AuS&format=png&color=000000']" height="80"
                         width="80"
                         class="h-[80px] w-[80px] rounded-full">
                    <h1 class="text-2xl pl-4">{{ employee.firstName }} {{ employee.lastName }}</h1>
                  </div>

                  <div class="p-4 pl-4">
                    <h1>Email: <p>{{ employee.email }}</p></h1>
                  </div>
                </div>
              </div>
            </div>
          }
          <button class="cursor-pointer bg-emerald-600 md:h-16 md:w-16 h-12 w-12 rounded-full flex items-center justify-center md:bottom-10 md:right-10 bottom-20 right-5 fixed" (click)="downloadEmployees()">
            <img width="32" height="32" src="https://img.icons8.com/material-rounded/32/download--v1.png" alt="download--v1" class="h-[20px] w-[20px] md:h-[32px] md:w-[32px]"/>
          </button>
          <button
            [routerLink]="['/create']"
            class="cursor-pointer bg-emerald-600 md:h-16 md:w-16 h-12 w-12 rounded-full flex items-center justify-center md:bottom-10 md:right-30 bottom-5 right-5 fixed">
            <h1 class="md:text-3xl text-xl text-black">+</h1>
          </button>
        </div>
      } @else if (state === EmployeeOverviewState.EMPTY) {
        <!-- TODO: add responsiveness to Hints -->
        <div class="h-[90%] text-emerald-600 w-screen flex justify-center items-center">
          <h1 class="text-3xl">You currently have no employees listed, create some by clicking the create button at the
            bottom right corner.</h1>
        </div>
        <button
          [routerLink]="['/create']"
          class="cursor-pointer bg-emerald-600 md:h-16 md:w-16 h-12 w-12 rounded-full flex items-center justify-center md:bottom-10 md:right-10 bottom-5 right-5 fixed">
          <h1 class="text-3xl text-black">+</h1>
        </button>
      }
    </div>
  } @else {
    @if (state === EmployeeOverviewState.ERROR) {
      <div class="h-[90%] text-red-600 w-screen flex justify-center items-center">
        <h1 class="text-3xl">It seems like an Error occurred, please try again later.</h1>
      </div>
    }
  }
}
